@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/

header {
    background-color: #272C3F;
    padding: 0 200px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-data {
    margin: 30px 0;
    font-size: 1.1rem;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 242, 0.3)
}

.contact-data:last-child {
    border: none;
}

.contact-data i {
    color: #e0840a;
    font-size: 1.3rem;
    margin-right: 10px;
}

.contact-data span {
    color: #FFFFFF;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid rgba(146, 146, 10, 0.3);
    position: relative;
}

.navigation-list {
    display: flex;
    align-items: center;
    transition: .5s ease;
}

.navigation-item {
    margin-right: 40px;
}


.navigation-item.logo {
    margin-right: 100px;
}

.navigation-item.close {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fffff2;
    cursor: pointer;
    display: none;
}

.navigation-item.usluge-item {
    position: relative;
}

.navigation-item.usluge-item .navigation-link {
    pointer-events: none;
}

.usluge-navigacija-lista {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #2b2b2c;
    width: 200px;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s ease;
    overflow: hidden;
}

.navigation-item.usluge-item:hover .usluge-navigacija-lista {
    height: 300px;
}

.usluge-navigacija-lista li:first-child {
    padding-top: 20px;
}

.usluge-navigacija-lista li {
    padding: 0 20px;
}

.usluge-navigacija-lista li a {
    font-weight: 300;
    color: #ffffff;
}

.usluge-navigacija-lista li a:hover {
    color: #f0b105;
    transition: .5s ease;
}


.navigation-link {
    color: #fffff2;
    transition: .5s ease;
}

.navigation-link:hover {
    color: #f0b105;
}

.navigation-item.logo .navigation-link {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-size: 2rem;
    color: #f1d27b;
}

.toggle {
    display: none;
}

.toggle i {
    font-size: 2rem;
    color: #fffff2;
    cursor: pointer;
}

/*pocetna*/

.pocetna-section {
    height: 100vh;
    background: linear-gradient(to right, rgba(18, 21, 31, 0.8), rgba(4, 5, 7, 0.8)), url('img/pozadina-pocetna.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.pocetna-text {
    margin-left: 100px;
}

.pocetna-text p {
    font-size: 1.5rem;
    font-weight: 100;
    color: #b3b39f;
}

.pocetna-text h1 {
    font-family: 'Times New Roman', Times, serif;    font-size: 3rem;
    font-weight: 300;
    line-height: 1.4;
    color: #f1d27b;
    margin-top: 30px;
}

.pocetna-text a {
    margin-top: 30px;
    display: inline-block;
    background-color: #494026;
    color: #ffffff;
    padding: 10px 30px;
    transition: .5s ease;
}

.pocetna-text a:hover {
    background-color: #cfbd8c;
}

/*dodatak*/

.dodatak {
    background-color: #F1F1F1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.dodatak-1 {
    text-align: center;
    margin: 0 20px;
}



.dodatak-1 p {
    font-weight: 300;
    font-size: 1.2rem;
    color: #72560a;
}

.dodatak h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    color: #48484a;
}


/*usluge*/

.usluge-section {
    padding: 100px 150px;
    text-align: center;
    color: rgb(252, 236, 236);
}

.naslov {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #48484a;
    padding: 0 20px;
    border-right: 3px solid #C0B596;
    border-left: 3px solid #C0B596;
    display: inline-block;
}

.usluge {
    margin: 150px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.usluga {
    padding: 20px 30px;
    border-top: 10px solid #2b2b2c;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .4);
    position: relative;
    bottom: 0;
    transition: .5s ease;
}

.usluga:hover {
    bottom: 30px;
}

.usluga h2 {
    color: #48484a;
}

.usluga hr {
    margin: 20px 0;
}

.usluga p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 300;
    color: #48484a;
}

.usluga a {
    margin-top: 20px;
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 8px 20px;
    transition: .5s ease;
}

.usluga a:hover {
    background-color: #cfbd8c;
}

/*o nama section */

.o-nama-section {
    padding: 100px 150px;
    background-color: #F1F1F1;
}

.o-nama {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 50px;
}

.o-nama-slika {
    background-color: #BEB395;
}

.o-nama-slika img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -20px;
    right: 20px;
}

.o-nama-text {
    text-align: center;
}

.o-nama-text p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    margin: 30px 0;
    color: #48484a;
}

.o-nama-text a {
    margin-top: 30px;
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 10px 30px;
    transition: .5s ease;
}

.o-nama-text a:hover {
    background-color: #cfbd8c;
}

/* pozovite nas */

.pozovite-nas-section {
    background-color: #272C3F;
    padding: 20px 0;
    text-align: center;
}

.pozovite-nas-section span {
    font-weight: 300;
    font-size: 1.2rem;
    color: #fffff2;
}

.pozovite-nas-section a {
    font-size: 1.2rem;
    color: #C0B596;
}

/* kontakt section */

.kontakt-section {
    padding: 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    background: linear-gradient(to right, rgba(39, 44, 63, 0.8), rgba(39, 44, 63, 0.8)), url('img/kontakt-pozadina.jpg') center no-repeat;
    background-size: cover;
}

.kontakt-text h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fffff2;
}

.kontakt-text p {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #fffff2;
}

.kontakt-forma form {
    display: flex;
    flex-direction: column;
}

.kontakt-forma form input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form input::placeholder {
    color: #fffff2;
}

.kontakt-forma form select {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form textarea::placeholder {
    color: #fffff2;
}

.kontakt-forma form input[type='submit'] {
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 10px 30px;
}

/* footer */

footer {
    background-color: #272C3F;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-navigacija {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-bottom: 100px;
}

.f-nav-deo h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fffff2;
    margin-bottom: 20px;
}
.contact-info .contact-data i {
    
    color: rgb(100, 65, 0); /* Ajoutez cette ligne pour définir la couleur des icônes */
}


h1.boja-loga {
    color: #BEB395;
}

.f-nav-deo p {
    font-weight: 300;
    color: #fffff2;
    margin: 10px 0;
}

.f-nav-deo .usluge-lista .usluge-stavka,
.f-nav-deo .brza-lista .brza-stavka {
    margin: 10px 0;
}

.f-nav-deo .usluge-lista .usluge-link,
.f-nav-deo .brza-lista .brz-link {
    font-weight: 400;
    color: #fffff2;
    transition: .5s ease;
}

.f-nav-deo .usluge-lista .usluge-link:hover,
.f-nav-deo .brza-lista .brz-link:hover {
    color: #BEB395;
}

.footer-info {
    padding: 20px 0;
    color: #fffff2;
    border-top: 1px solid rgba(255, 255, 242, 0.3);
}




/*Au moins de   1024px*/    /*valider*/

@media screen and (max-width: 1024px) {
    .contact-info .contact-data i {
    
        color: rgb(100, 65, 0); /* Ajoutez cette ligne pour définir la couleur des icônes */
    }
    header {
        padding: 0 50px;
    }

    .usluge-section {
        padding: 150px 50px;
    }

    .o-nama-section {
        padding: 150px 50px;
    }

    .kontakt-section {
        padding: 150px 50px;
    }

    .usluga p {
        text-align: left;
    }

    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
  /*la liste */
  .usluge-navigacija-lista {
    position: static;
    display: none;
    width: auto;
}

.navigation-item:hover .usluge-navigacija-lista {
    display: block;
    position: absolute;
    background-color: #272C3F;
    z-index: 100;
    width: 100%;
    left: 0;
}

.usluge-navigacija-lista li {
    text-align: center;
    width: 100%; /* Ajustez la largeur des liens pour occuper toute la largeur */
    box-sizing: border-box;
    margin: 5px 0; /* Ajoutez une marge de 5 pixels en haut et en bas */
}



}


/*Au moins de  768px*/     /*Valider*/


@media screen and (max-width: 768px) {

    .contact-info .contact-data i {
    
        color: rgb(100, 65, 0); /* Ajoutez cette ligne pour définir la couleur des icônes */
    }
    header {
        padding: 0;
    }

    .contact-data span {
        font-size: 0.9rem;
    }


    .navigation-list {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #272C3F;
        padding-top: 50px;
        z-index: 100;
    }


    .navigation-item.logo {
        display: none;
    }

    .navigation-item {
        margin: 30px 0;
    }

    .navigation-item.close {
        display: initial;
        margin: 0;
    }

    .navigation-link {
        font-size: 1rem;
    }

    .usluge-navigacija-lista {
        left: -100%;
    }

    .toggle {
        display: initial;
    }

    .usluge {
        grid-template-columns: 1fr 1fr;
    }

    .o-nama {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .o-nama-slika {
        width: 400px;
        margin: auto;
    }

    .pozovite-nas-section {
        display: flex;
        flex-direction: column;
    }

    .kontakt-section {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .kontakt-forma form {
        width: 80%;
    }

    .footer-navigacija {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }


    /*la liste*/
    .usluge-navigacija-lista {
        position: static;
        display: none;
        width: auto;
    }

    .navigation-item:hover .usluge-navigacija-lista {
        display: block;
        position: absolute;
        background-color: #272C3F;
        z-index: 100;
        width: 100%;
        left: 0;
    }

    .usluge-navigacija-lista li {
        text-align: center;
        width: 100%; /* Ajustez la largeur des liens pour occuper toute la largeur */
        box-sizing: border-box;
        margin: 5px 0; /* Ajoutez une marge de 5 pixels en haut et en bas */
    }


}


/*Au moins de  500px*/        /*Valide*/

@media screen and (max-width: 450px) {



    .contact-info .contact-data i {
    
        color: rgb(100, 65, 0); /* Ajoutez cette ligne pour définir la couleur des icônes */
    }
    .contact-info {
        margin: 0 20px;
    }

    .contact-data {
        display: flex;
        flex-direction: column;
    }

    .contact-data i {
        margin-bottom: 10px;
    }

    .pocetna-text {
        margin-left: 20px;
        padding-right: 100px;
    }

    .usluge {
        grid-template-columns: 1fr;
    }

    .pozovite-nas-section {
        padding: 20px 50px;
    }

    footer {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-navigacija {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .footer-info {
        padding: 20px;
    }


 /*contact*/

 .kontakt-section {
    padding: 50px 10px; /* Ajustez le rembourrage pour les écrans plus petits */
    
}



.kontakt-text h1 {
    font-size: 1.5rem; /* Ajustez la taille de la police pour les écrans plus petits */
}

.kontakt-forma form input,
.kontakt-forma form select,
.kontakt-forma form textarea {
    width: 100%; /* Ajustez la largeur des champs de formulaire pour occuper toute la largeur */
    
}
.kontakt-forma {
display: flex;
justify-content: center;
align-items: center;
}

.kontakt-forma form {
width: 80%; /* Ajustez la largeur du formulaire comme vous le souhaitez */
}



.contact-info .contact-data span {
    font-size: 15.1px; 

    color: rgb(252, 252, 252);
    font-weight: bold; /* Ajoutez cette ligne pour rendre le texte en gras */
}









.pocetna-text {
    padding-right: 20px;
   margin-bottom: -340px;
}

.pocetna-text h1 {
    font-size: 2rem;
}

.dodatak {
    flex-direction: column;
}

.usluge-section {
    padding: 100px 20px;
}

.o-nama-section {
    padding: 100px 20px;
}

.o-nama-slika {
    width: 200px;
}

.kontakt-section {
    padding: 100px 20px;
    column-gap: 0;
}

.kontakt-text h1 {
    font-size: 2rem;
}

.kontakt-text p {
    font-size: 1rem;
    padding-right: 20px;
}

.kontakt-forma form input {
    font-size: 1rem;
    padding: 10px;
}

.kontakt-forma form select {
    padding: 10px;
}


.kontakt-forma form textarea {
    font-size: 0.8rem;
    padding: 10px;
}

.kontakt-forma form textarea::placeholder {
    font-size: 1rem;
}

.naslov {
    font-size: 2rem;
}
body {
    overflow-x: hidden;
}

/* la liste */
.usluge-navigacija-lista {
position: static;
display: none;
width: auto;
max-height: 200px; /* Set your desired maximum height */
overflow-y: auto; /* Add scrollbar when content exceeds max height */
}

.navigation-item.usluge-item:hover .usluge-navigacija-lista {
display: block;
position: absolute;
background-color: #272C3F;
z-index: 100;
width: 100%;
left: 0;
bottom: 100%;
overflow-y: auto; /* Add scrollbar to the dropdown */
}

.usluge-navigacija-lista li {
text-align: center;
width: 100%;
box-sizing: border-box;
margin: 5px 0;
border-bottom: 1px solid #fff;
color: #add8e6; /* Set text color to light blue by default */
transition: color 0.3s; /* Add a smooth transition effect for color changes */
}

.usluge-navigacija-lista li:hover {
color: #ffd700; /* Change text color to yellow when hovering */
}

/* Remove the border from the last li to avoid an extra line at the bottom */
.usluge-navigacija-lista li:last-child {
border-bottom: none;
}






    
}




.open {
    left: 0;
}

@media screen and (max-width: 400px) {
    
    /* Alignement de la section contact-info */
    .contact-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    /* Ajustements pour la section contact-data */
    .contact-data {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    
    /* Styles pour les icônes dans la section contact-data */
    .contact-data i {
        font-size: 24px;
        margin-left: 10px;
    }
    
    /* Ajustements pour le texte dans la section contact-data */
    .contact-data span {
        font-size: 16px;
        font-weight: bold;
        color: rgb(252, 252, 252);
    }

    /* Styles spécifiques pour le texte dans la section contact-info */
    .contact-info {
        font-size: 15.1px;
        color: rgb(252, 252, 252);
        font-weight: bold;
    }

    /* Ajustements pour la section kontakt-section */
    .kontakt-section {
        padding: 50px 10px;
    }

    /* Ajustements pour le formulaire dans la section kontakt-forma */
    .kontakt-forma {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kontakt-forma form {
        width: 80%;
    }

    /* Ajustements pour d'autres éléments */
    .pocetna-text {
        padding-right: 20px;
        margin-bottom: -340px;
    }

    .pocetna-text h1 {
        font-size: 2rem;
    }

    .dodatak {
        flex-direction: column;
    }

    .usluge-section,
    .o-nama-section,
    .kontakt-section {
        padding: 100px 20px;
        column-gap: 0;
    }

    .kontakt-text h1 {
        font-size: 2rem;
    }

    .kontakt-text p {
        font-size: 1rem;
        padding-right: 20px;
    }

    .kontakt-forma form input,
    .kontakt-forma form select,
    .kontakt-forma form textarea {
        width: 100%;
        font-size: 1rem;
        padding: 10px;
    }

    .kontakt-forma form textarea::placeholder {
        font-size: 1rem;
    }

    .naslov {
        font-size: 2rem;
    }

    body {
        overflow-x: hidden;
    }

    /* Styles pour la liste usluge-navigacija-lista */
    .usluge-navigacija-lista {
        position: static;
        display: none;
        width: auto;
        max-height: 200px;
        overflow-y: auto;
    }

    .navigation-item.usluge-item:hover .usluge-navigacija-lista {
        display: block;
        position: absolute;
        background-color: #272C3F;
        z-index: 100;
        width: 100%;
        left: 0;
        bottom: 100%;
        overflow-y: auto;
    }

    .usluge-navigacija-lista li {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        margin: 5px 0;
        border-bottom: 1px solid #fff;
        color: #add8e6;
        transition: color 0.3s;
    }

    .usluge-navigacija-lista li:hover {
        color: #ffd700;
    }

    .usluge-navigacija-lista li:last-child {
        border-bottom: none;
    }
}





.whatsapp-link {
    position: relative;
    display: flex;
    align-items: center;
    color: #4CAF50; /* Couleur verte */
  
  }
  
  .whatsapp-link i {
    color: #4CAF50; /* Couleur verte */
    margin-right: 5px; /* Espace à droite de l'icône */
    margin-bottom: -2px; /* Ajustement vertical vers le bas */
  }

  .map {
    float: right; /* ou utilise margin-left: auto; pour déplacer vers la droite */
}
